<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>    {% block title %}{% endblock %} 

    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css" integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX" crossorigin="anonymous">
  
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 m-auto font-weight-bold">
    {% block content %}{% endblock %} 
        </div>
    </div>
</div>




    
</body>
</html>